# Byte-compiled / optimized / DLL files
**/__pycache__/*
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ
out/
.idea/*

# Ploomber output
**/products/*
**/reports/*

# Setup tools
**/*.egg-info/*

# ChromaDB
**/.chromadb/*

# Docker
Dockerfile

# MacOS
**/.DS_Store
